/* Write your CSS here */
.bg-container {
  height: 100vh;
  text-align: center;
}
.img {
  height: 50vh;
  width: 50vh;
}
.list-item {
  padding: 10px;
}

.search-img {
  height: 7vh;
  width: 7vh;
  padding: 5px;
  text-align: center;
}
.input-container {
  display: flex;
  justify-content: center;
}
